<div data-ng-include="'views/team/navbar.html'" ng-init="data = {menu: 'checks', team: checksCtrl.teamName}"></div>


<div class="col-md-4">
		<div class="col-md-12">

			<div class="panel panel-default panel-depc">
				<div class="panel-heading">
					<i class="glyphicon glyphicon-filter"></i> Filter
					<div class="btn-group pull-right" data-ng-if="checkGrants(checksCtrl.teamName, ['editor', 'manager'])">
						<button class="btn btn-default btn-xs" data-ng-click="checksCtrl.openNewSourceModal()"><i class="glyphicon glyphicon-hdd"></i> New Source</button>
						<button class="btn btn-default btn-xs" data-ng-click="checksCtrl.openNewRuleModal()"><i class="glyphicon glyphicon-triangle-right"></i> New Rule</button>
						<button class="btn btn-default btn-xs" data-ng-click="checksCtrl.newCheck()"><i class="glyphicon glyphicon-flash"></i> New Indicator</button>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="panel-body panel-filters">
					<dl class="dl" style="margin-bottom: 0;" data-ng-if="!checksCtrl.loadingRules && !checksCtrl.loadingSources">
						<button class="btn btn-outline-secondary" data-ng-class="!checksCtrl.ruleFiltered && !checksCtrl.sourceFiltered ? 'active' : ''" data-ng-click="checksCtrl.resetAll()"> All indicators <span class="badge badge-default">{{ checksCtrl.checks.length }}</span></button>
						<dt data-ng-if="!checksCtrl.loadingRules && checksCtrl.rules.length">Rules</dt>
						<dd data-ng-if="!checksCtrl.loadingRules">
							<button class="btn btn-outline-secondary" data-ng-class="checksCtrl.ruleFiltered == rule ? 'active' : ''" data-ng-repeat="rule in checksCtrl.rules| orderBy: 'name'" data-ng-click="checksCtrl.selectRule(rule)"> {{ rule.name }} <span class="badge badge-default">{{ rule.checks.length }}</span></button>
						</dd>
						<dt data-ng-if="!checksCtrl.loadingSources && checksCtrl.sources.length">Sources</dt>
						<dd data-ng-if="!checksCtrl.loadingSources" ng-init="images={
							'WarpScript': 'images/warp10.png',
							'OpenTSDB': 'images/opentsdb.png',
							'Fake': 'images/fake.png'}">
							<button class="btn btn-outline-secondary" data-ng-class="checksCtrl.sourceFiltered == source ? 'active' : ''" data-ng-repeat="source in checksCtrl.sources| orderBy: 'name'" data-ng-click="checksCtrl.selectSource(source)"> <img ng-src="{{ images[source.plugin] }}" alt="{{ source.plugin }}"/> {{ source.name }} <span class="badge badge-default">{{ source.checks.length }}</span></button>
						</dd>
					</dl>
					<div class="loader"data-ng-if="checksCtrl.loadingRules || checksCtrl.loadingSources"></div>
				</div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="panel panel-default panel-depc">
				<div class="panel-heading">
					List of Indicators ({{ checksCtrl.filteredTitle }})
				</div>
				<div class="panel-body" data-ng-if="!checksCtrl.filteredChecks().length">
					<p class="alert alert-info">No checks.</p>
				</div>
				<div class="panel-body" data-ng-if="checksCtrl.filteredChecks().length">
					<div class="list-group">
						<a data-ng-repeat="check in checksCtrl.filteredChecks() | orderBy: 'name'"data-ng-click="checksCtrl.editCheck(check)" class="list-group-item" data-ng-class="(check == checksCtrl.check) ? 'active' : ''">
							<span class="list-group-item-heading">{{ check.name }} <span class="badge badge-default pull-right">{{ check.type }}</span></span>
						</a>
					</div>
				</div>
			</div>
		</div>
</div>

<div class="col-md-8">

	<div class="panel panel-default panel-depc" data-ng-if="checksCtrl.ruleFiltered">
		<div class="panel-heading">
			<span class="text-capitalize">Rule <strong>{{ checksCtrl.ruleFiltered.name }}</strong></span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<button data-ng-click="checksCtrl.openAssociateChecksModal()" class="btn btn-primary"><i class="glyphicon glyphicon-check"></i> Associate Checks</button>
					<button data-ng-click="checksCtrl.openEditRuleModal()" class="btn btn-primary"><i class="glyphicon glyphicon-edit"></i> Edit the rule</button>
					<button data-ng-click="checksCtrl.deleteRule()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete the rule</button>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-depc" data-ng-if="checksCtrl.sourceFiltered">
		<div class="panel-heading">
			<span class="text-capitalize">Source <strong>{{ checksCtrl.sourceFiltered.name }}</strong></span>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-12">
					<span>Type : <strong>{{ checksCtrl.sourceFiltered.plugin }}</strong></span>
					<button data-ng-click="checksCtrl.openEditSourceModal()" class="btn btn-primary" style="margin-left:2em "><i class="glyphicon glyphicon-edit"></i> Edit the source</button>
					<button data-ng-click="checksCtrl.deleteSource()" class="btn btn-danger"><i class="glyphicon glyphicon-trash"></i> Delete the source</button>
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-default panel-depc" data-ng-if="checksCtrl.mode != 'newCheck' && checksCtrl.mode != 'editCheck'">
		<div class="panel-body">Select an indicator to edit it.</div>
	</div>

	<div class="panel panel-default panel-depc" data-ng-if="checksCtrl.mode == 'newCheck'">
		<div class="panel-heading">
			<span class="text-capitalize">New Indicator</span>
		</div>
		<div class="panel-body">
			<form class="form-horizontal" name="check">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input class="form-control" id="name" data-ng-model="checksCtrl.name" type="text">
					</div>
				</div>

				<div class="form-group">
					<label for="check" class="col-sm-2 control-label">Source</label>
					<div class="col-sm-10">
						<select class="form-control" name="source" data-ng-model="checksCtrl.source">
							<option data-ng-repeat="source in checksCtrl.sources" data-ng-value="source"><img src="images/warp.png" alt="Empty"/> {{ source.name }} ({{ source.plugin }})</option>
						</select>
					</div>
				</div>

				<div class="form-group" data-ng-if="checksCtrl.source">
					<label for="query" class="col-sm-2 control-label">Query</label>
					<div class="col-sm-10">
						<pre data-ng-if="checksCtrl.cmOption" ui-codemirror="checksCtrl.cmOption" ng-model="checksCtrl.query"></pre>
					</div>
				</div>

				<div class="form-group">
					<label for="query" class="col-sm-2 control-label">Threshold</label>
					<div class="col-sm-10">
						<input class="form-control" id="threshold" type="text" data-ng-model="checksCtrl.threshold">
						<p class="help-block">Simple threshold or interval : <code>42</code>, <code>3.14</code>, <code>-42</code>, <code>100:200</code> or <code>-0.1:0.1</code>. See the <a href="https://ovh.github.io/depc/guides/indicators.html">dedicated guide</a> for more details.</p>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer" data-ng-if="checkGrants(checksCtrl.teamName, ['editor', 'manager'])">
			<div class="btn-group pull-right">
				<button class="btn btn-primary" data-ng-click="checksCtrl.save()">Create</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="panel panel-default panel-depc" data-ng-if="checksCtrl.mode == 'editCheck'">
			<div class="panel-heading">
				<span class="text-capitalize">Edit Indicator</span>
			</div>
			<div class="panel-body">
				<form class="form-horizontal" name="check">
					<div class="form-group">
						<label for="name" class="col-sm-2 control-label">Name</label>
						<div class="col-sm-10">
							<input class="form-control" id="name" data-ng-model="checksCtrl.name" type="text">
						</div>
					</div>

					<div class="form-group">
						<label for="query" class="col-sm-2 control-label">Query</label>
						<div class="col-sm-10">
							<pre data-ng-if="checksCtrl.cmOption" ui-codemirror="checksCtrl.cmOption" ng-model="checksCtrl.query"></pre>
						</div>
					</div>

					<div class="form-group">
						<label for="query" class="col-sm-2 control-label">Threshold</label>
						<div class="col-sm-10">
							<input class="form-control" id="threshold" type="text" data-ng-model="checksCtrl.threshold">
							<p class="help-block">Simple threshold or interval : <code>42</code>, <code>3.14</code>, <code>-42</code>, <code>100:200</code> or <code>-0.1:0.1</code>. See the <a href="https://ovh.github.io/depc/guides/indicators.html">dedicated guide</a> for more details.</p>
						</div>
					</div>

				</form>
			</div>
			<div class="panel-footer" data-ng-if="checkGrants(checksCtrl.teamName, ['editor', 'manager'])">
				<div class="btn-group pull-left">
					<button class="btn btn-danger" data-ng-click="checksCtrl.deleteCheck()" data-ng-if="checkGrants(checksCtrl.teamName, ['manager'])">Delete the indicator</button>
				</div>
				<div class="btn-group pull-right">
					<button class="btn btn-primary" data-ng-click="checksCtrl.save()">Save</button>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>

</div>
