<div data-ng-include="'views/team/navbar.html'" ng-init="data = {menu: 'sources', team: sourcesCtrl.teamName}"></div>


<div class="col-md-5">
	<div class="panel panel-default panel-depc">
		<div class="panel-heading">
			Sources
			<div class="btn-group pull-right" data-ng-if="!sourcesCtrl.loadingSource">
				<button data-ng-click="sourcesCtrl.newSource()" class="btn btn-default btn-xs" data-ng-class="(sourcesCtrl.mode == 'new') ? 'active': ''" data-ng-if="checkGrants(sourcesCtrl.teamName, ['manager'])"><i class="glyphicon glyphicon-plus"></i> Create a new source</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div class="loader" data-ng-if="sourcesCtrl.loadingSource"></div>
			<div class="alert alert-warning" data-ng-if="!sourcesCtrl.loadingSource && sourcesCtrl.sources.length == 0">No source saved.</div>
			<table class="table table-hover" data-ng-if="!sourcesCtrl.loadingSource && sourcesCtrl.sources.length > 0">
				<thead>
					<tr>
						<td><strong>Name</strong></td>
						<td><strong>Plugin</strong></td>
						<td></td>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="source in sourcesCtrl.sources | orderBy: 'name'">
						<td>{{ source.name }}</td>
						<td>{{ source.plugin }}</td>
						<td>
							<div class="btn-group pull-right">
								<a class="btn btn-default btn-xs" href="#/teams/{{ sourcesCtrl.teamName }}/checks?source={{ source.name }}"><i class="glyphicon glyphicon-flash"></i> Display checks</a>
								<button class="btn btn-xs" data-ng-class="(source == sourcesCtrl.source) ? 'btn-primary' : 'btn-default'" data-ng-click="sourcesCtrl.editSource(source)" data-ng-if="checkGrants(sourcesCtrl.teamName, ['manager'])"><i class="glyphicon glyphicon-edit"></i> Edit</button>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="col-md-7">
	<div class="panel panel-default panel-depc">
		<div class="panel-heading">
			<span class="text-capitalize">{{ sourcesCtrl.mode }} source</span>
		</div>
		<div class="panel-body" data-ng-if="sourcesCtrl.loadingSource">
			<div class="loader"></div>
		</div>
		<div class="panel-body" data-ng-if="!sourcesCtrl.loadingSource && !checkGrants(sourcesCtrl.teamName, ['manager'])">
			<div class="alert alert-warning">Only managers and editors can create or edit a source.</div>
		</div>
		<div class="panel-body" data-ng-if="!sourcesCtrl.loadingSource && checkGrants(sourcesCtrl.teamName, ['manager'])">
			<form class="form-horizontal">
				<div class="form-group">
					<label for="name" class="col-sm-2 control-label">Name</label>
					<div class="col-sm-10">
						<input class="form-control" id="name" data-ng-model="sourcesCtrl.name" type="text">
					</div>
				</div>
				<div class="form-group">
					<label for="plugin" class="col-sm-2 control-label">Plugin</label>
					<div data-ng-class="sourcesCtrl.plugin ? 'col-sm-9' : 'col-sm-10'">
						<select class="form-control" name="plugin" data-ng-model="sourcesCtrl.plugin">
					      <option data-ng-repeat="plugin in sourcesCtrl.availablePlugins | orderBy: 'name'" data-ng-value="plugin" data-ng-click="sourcesCtrl.selectPlugin(plugin)">{{ plugin.name }}</option>
					    </select>
					    <p class="help-block" data-ng-if="!sourcesCtrl.plugin">Select a plugin to display its description.</p>
					</div>
					<h4><i data-ng-if="sourcesCtrl.plugin" class="glyphicon glyphicon-info-sign icon-pointer" uib-tooltip="{{ sourcesCtrl.plugin.description }}" tooltip-append-to-body="true"></i></h4>
				</div>
				<div class="form-group" data-ng-if="sourcesCtrl.plugin && sourcesCtrl.plugin.form.length != 0">
					<label for="parameters" class="col-sm-2 control-label">Configuration</label>
					<div class="col-sm-10">
						<div class="panel panel-default">
							<div class="panel-body">
								<div class="col-sm-12">
									<div sf-schema="sourcesCtrl.plugin.schema" sf-form="sourcesCtrl.plugin.form" sf-model="sourcesCtrl.configuration"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="panel-footer" data-ng-if="!sourcesCtrl.loadingSource && checkGrants(sourcesCtrl.teamName, ['manager'])">
			<div class="btn-group pull-left" data-ng-if="sourcesCtrl.mode == 'edit'">
				<button class="btn btn-danger" data-ng-click="sourcesCtrl.deleteSource()" data-ng-if="checkGrants(sourcesCtrl.teamName, ['manager'])">Delete the source</button>
			</div>
			<div class="btn-group pull-right">
				<button class="btn btn-primary" data-ng-click="sourcesCtrl.save()">Save</button>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>

	<div class="panel panel-default panel-depc" data-ng-if="sourcesCtrl.source">
		<div class="panel-heading">
			Variables
			<div class="btn-group pull-right" data-ng-if="checkGrants(sourcesCtrl.teamName, ['manager', 'editor'])">
				<a href="#/teams/{{ sourcesCtrl.teamName }}/variables?level=Source&source={{ sourcesCtrl.name }}" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-new-window"></i> Manage</a>
				<button class="btn btn-default btn-xs" data-ng-click="sourcesCtrl.loadVariables()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="panel-body">
			<div class="loader" data-ng-if="sourcesCtrl.loadingVariables"></div>
			<div class="alert alert-warning" data-ng-if="!sourcesCtrl.loadingVariables && !sourcesCtrl.variables.length">No variable declared.</div>
			<table class="table table-hover" data-ng-if="!sourcesCtrl.loadingVariables && sourcesCtrl.variables.length">
				<thead>
					<tr>
						<td><strong>Name</strong></td>
						<td><strong>Type</strong></td>
						<td><strong>Value</strong></td>
						<td><strong>Expression</strong></td>
					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="variable in sourcesCtrl.variables | orderBy: 'name'">
						<td>{{ variable.name }}</td>
						<td>{{ variable.type }}</td>
						<td>{{ variable.value }}</td>
						<td><code>{{ variable.expression }}</code></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>