<div class="modal-header">
    <h3 class="modal-title">{{ modalNewsCtrl.title }}</h3>
</div>
<div class="modal-body">
    <p class="alert alert-info" data-ng-if="modalNewsCtrl.news.length == 0">No unread news, see all news <strong class="pointer" data-ng-click="modalNewsCtrl.displayAllNews()">here</strong>.</p>

    <div class="news" data-ng-repeat="news in modalNewsCtrl.news">
        <h3 class="title">
            {{ news.title }}
            <span class="pull-right">{{ news.createdAt | date:'longDate' }}</span>
        </h3>
        <p>{{ news.message }}</p>
    </div>
</div>
